# Dependencies
node_modules/

# Environments & Secret credentials
.env
.env*.local

# SQLite Database & temporary journals
database/*.db
database/*.db-journal
database/*.db-shm
database/*.db-wal

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
